@import "../globals.scss";

$behaviour-app-overflow: $global-overflow-hidden;
$behaviour-flex: flex;
$behaviour-flex-end: flex-end;
$behaviour-image-no-repeat: no-repeat;
$behaviour-image-cover: cover;
