// Globals
$global-gutter: 2.5%;
$global-center: center;
$global-white: white;
$global-app-max-width: 600px;
$global-app-min-width: fit-content;
$global-app-height: 100dvh;
$global-app-font-size: clamp(1rem, 2.5vw, 1.3rem);
$global-margin-center: 0 auto;
$global-padding-0: 0;
$global-margin-0: 0;
$global-box-size: border-box;
$global-overflow-hidden: "hidden";
