@import "../../styles/sizes/sizes.scss", "../../styles/colors/colors.scss";

.contentWrapper > * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contentWrapper {
  height: $size-content-height;
  background-color: $color-content-background;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}
.backgroundContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contentWrapper p {
  margin: 0;
}

.section {
  scroll-snap-align: center;
  height: 100vh;
}

.wrapperContainer {
  height: 80%;
}

.infoWrapper {
  height: 100%;
}

.rightContainer {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.infoContainer {
  width: 50%;
  margin: 0 auto;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-shadow: 0 6px 6px #000000, 0 -2px 1px #000000;
}

.layoutRight .leftContainer {
  order: 0;
}

.layoutRight .rightContainer {
  order: 1;
}

.layoutLeft .leftContainer {
  order: 1;
}

@media only screen and (max-width: $mobile-breakpoint) {
}
