@import "../../styles/sizes/sizes.scss",
  "../../styles/behaviours/behaviours.scss", "../../styles/colors/colors.scss";

.header {
  box-sizing: $size-content-box-size;
  max-width: $size-header-width;
  width: $size-content-width;
  display: $behaviour-flex;
  justify-content: $behaviour-flex-end;
  padding: $size-header-padding;
  background-color: $color-header-background;
}
