@import "../globals.scss";

$app-text-color: $global-white;
$app-background-color: rgb(1, 24, 27);
$app-background: url("./assets/app_background.jpg");

// Header
$color-header-background: $global-black;

// Content
$color-content-background: $global-black;
